<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageRestore>
		<add key="enabled" value="True" />
		<add key="automatic" value="True" />
	</packageRestore>
	<activePackageSource>
		<add key="All" value="(Aggregate source)" />
	</activePackageSource>
	<packageSources>
		<add key="github" value="https://nuget.pkg.github.com/Dom21Nguyen/index.json" />
		<!--<add key="ISD_Fiscal_Systems" value="http://sbc-vptfs171:8080/tfs/ISD/_packaging/ISD_Fiscal_Systems/nuget/v3/index.json" />-->
	</packageSources>
	<!-- Use DevOps Service Connection instead of this section -->
	<packageSourceCredentials>
		<ISD_Fiscal_Systems>
			<add key="Username" value="Dom21Nguyen" />
			<add key="ClearTextPassword" value="NnPg@2024" />
		</ISD_Fiscal_Systems>
	</packageSourceCredentials>
</configuration>
